{% load bootstrap4 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% if product_list %}
<div class="container-fluid">
<table class="table table-striped">
    <thead>
    <tr>
        <th>Product SKU</th>
        <th>Attributes</th>
    </tr>
    </thead>
    <tbody>
    {% for product in product_list %}
    <tr>
        <th class="col-md-2">{{ product.sku }}</th>
        <td>
            {% for attributes in product.attributes %}
            {% for attribute, value in attributes.items %}
            {{ attribute }} : {{ value }} <br />
            {% endfor %}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endif %}